body {
    background: #80ffdf;
}

#title,
.subtitle,
.post_title {
    color: #99004d;
}

.post_title {
    font-size: 16px;
    font-style: italic;
}

.post {
    background: white;
    padding: 10px;
    border: 1px solid #b366ff;
    border-top-style: 2px groove;
}