body {
    background: #e6eeec;
}

#title,
.subtitle,
.post_title {
    color: #99004d;
}

.post_title {
    font-size: 16px;
    font-style: italic;
    margin: 0;
    margin-bottom: 15px;
    margin-top: 15px;
}

.post {
    background: #cfa2c2;
    border: 1px solid #b182e0;
    border-radius: 15px;
    border-top-style: 2px double;
    margin: 0;
    margin-bottom: 15px;
    margin-top: 20px;
}

.post_content {
    margin: 0;
    margin-bottom: 15px;
}

.post_image {
    margin=0;
    margin-bottom=50px;
}